<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475264129472-p8p0u6q1bbd75rp7mo836a58e3gfid91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475264129472-p8p0u6q1bbd75rp7mo836a58e3gfid91</string>
	<key>API_KEY</key>
	<string>AIzaSyA-IbQE0n5aoPPaDHeKll9S3hGa58zuqcg</string>
	<key>GCM_SENDER_ID</key>
	<string>475264129472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.criptoMoedas</string>
	<key>PROJECT_ID</key>
	<string>cripto-moedas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cripto-moedas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475264129472:ios:f7187f67021a0a3d935025</string>
	<key>DATABASE_URL</key>
	<string>https://cripto-moedas-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>